{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}
    {{ form_start(form, {'attr' : {'id' : 'post_form', 'class' : 'mb-3'}}) }}
    {{ form(form) }}
    {{ form_end(form) }}

{% endblock %}
