{% extends 'base.html.twig' %}
{% block title %}
    Hello
{%  endblock %}
{% block body %}
    <img src="{{ asset('uploads/') ~ image}}">
    {{ form(form) }}
    {{ dump(partialArr) }}
{% endblock %}