{% extends 'base.html.twig' %}

{% block title %}Post list!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Posts</h1>
        <a href="{{ path('newpost') }}"><i class="fa fa-plus fa-2x text-success" aria-hidden="true"></i></a>
    </div>
    {% if posts %}
        <table  class="table table-striped table-bordered table-hover ">
            <thead>
            <tr class="thead-dark">
                <th scope="col">Post Title</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{ post.title }}</th>
                    <td scope="row">
                        <a href="{{ path('show_post',{id : post.id}) }}" class="btn"><i class="fa fa-eye" aria-hidden="true"></i></a>
{#                        <a href="#" class="btn delete-article"#}
{#                           data-id="{{ article.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Posts to display</p>
    {% endif %}
{% endblock %}
