{% extends 'base.html.twig' %}
{% block title %}
    Hello
{%  endblock %}
{% block body %}
    <h1 class="text-center">Show post</h1><br>
        <strong>Post title: </strong>{{ post.title }}<br>
    <strong>Post description: </strong>{{ post.description }}<br>
    <strong>Post category: </strong>{{ post.category }}
{% endblock %}